---
import Footer from '../components/footer/index.astro';
import Header from '../components/header/index.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="flex min-h-screen w-full flex-col overflow-x-hidden antialiased selection:bg-blue-200 selection:text-black dark:selection:bg-blue-800 dark:selection:text-white bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-200">
    <div class="flex flex-col min-h-screen">
      <Header />

      <main class="max-sm:mt-2 mt-8 flex flex-1 flex-col">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
