@font-face {
  font-family: "Geist Sans";
  src:
    url("/fonts/geist/geist-variable-vf.woff2") format("woff2"),
    url("/fonts/geist/geist-variable-vf.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src:
    url("/fonts/geist/geist-mono-variable-vf.woff2") format("woff2"),
    url("/fonts/geist/geist-mono-variable-vf.woff2") format("truetype");
  font-display: swap;
}
