---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="p-6 border rounded-lg feature-item transition-shadow duration-300">
  <div class="flex justify-center mb-4 text-primary">
    <slot name="icon" />
  </div>

  <h3 class="mb-4 text-2xl font-semibold text-center text-gray-800">
    {title}
  </h3>

  <p class="text-gray-600 text-center">
    <slot name="description" />
  </p>
</div>
