---
import { Mail } from 'lucide-astro';

import ArticleCard from '~/components/blog/article-card.astro';
import { getArticles } from '~/directus';
import DefaultLayout from '~/layouts/default-layout.astro';

const articles = await getArticles({
  limit: 14,
});
---
<DefaultLayout
  title="DashHub.ai"
  description="Welcome to Dashhub!"
>
  <section class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-12">
      <div class="lg:col-span-2">
        <h2 class="text-2xl font-bold mb-4">Articles</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 lg:gap-12">
          {articles.map(article => (
            <ArticleCard article={article} />
          ))}
        </div>
      </div>

      <aside class="lg:col-span-1">
        <h2 class="text-2xl font-bold mb-4">Featured Articles</h2>
        <ul class="flex flex-col gap-y-4 border-t border-gray-300 pt-4">
          {articles.map(article => (
            <li class="border-b border-gray-300">
              <a href={`/blog/${article.slug}`} class="hover:underline block py-2 pb-4">
                {article.title}
              </a>
            </li>
          ))}
        </ul>

        <div class="mt-8 p-6 bg-gray-100 rounded-lg">
          <h2 class="text-xl font-bold mb-4">Subscribe to our Newsletter</h2>
          <p class="mb-4">
            Stay updated with the latest articles, tips, and exclusive promotions. Subscribe to our newsletter and never miss out on the best content for AI lovers!
          </p>
          <form class="flex flex-col gap-4">
            <input
              type="email"
              placeholder="Enter your email"
              class="p-3 border border-gray-300 rounded-lg"
              required
            />
            <button
              type="submit"
              class="p-3 bg-black text-white font-bold rounded-lg hover:bg-gray-800 flex items-center justify-center gap-2"
            >
              <Mail class="h-5 w-5" />

              Subscribe
            </button>
          </form>
        </div>
      </aside>
    </div>
  </section>
</DefaultLayout>
