---
import robotImage from '../../images/robot.png';
---

<section class="max-sm:pb-6 pb-16 about-us">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      <div class="flex flex-col justify-center md:p-6 md:pl-0 about-us-text">
        <h2 class="mb-4 text-3xl font-semibold">About Us</h2>
        <p class="mb-4 text-gray-600">
          At DashHub, we are passionate about revolutionizing the way enterprises leverage artificial intelligence. Our mission is to provide a robust, open-source AI platform that empowers businesses to optimize their AI workflows with ease and efficiency. Our platform is designed to integrate seamlessly with your existing tools, offering unparalleled flexibility for customization and ensuring that your data and models are protected with enterprise-grade security.
        </p>
        <p class="mb-4 text-gray-600">
          Our team is composed of AI enthusiasts, developers, and industry experts who are dedicated to pushing the boundaries of what is possible with AI. We believe in the power of community-driven development, and we are committed to continuously evolving our platform to meet the ever-changing needs of modern enterprises. By fostering a collaborative environment, we aim to drive innovation and create solutions that address real-world challenges.
        </p>
        <p class="mb-4 text-gray-600">
          DashHub is more than just a platform; it is a community of like-minded individuals who share a common goal of advancing AI technology. We invite you to join us on this exciting journey and contribute to the future of enterprise AI. Whether you are a developer, data scientist, or business leader, there is a place for you in our community. Together, we can build a brighter future powered by AI.
        </p>
        <p class="mt-8">
            <a href="https://github.com/DashHub-ai/DashHub" class="bg-black text-white px-4 py-3 rounded">
              Join Our Community
            </a>
        </p>
      </div>
      <div class="p-6 about-us-image">
        <img src={robotImage.src} alt="About Us" class="max-h-[420px] mx-auto" />
      </div>
    </div>
  </div>
</section>
