---
import pricingImage from '../../images/pricing.png';
---

<section class="max-sm:pb-6 pb-16 pricing-section">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      <div class="flex flex-col justify-center md:p-6 md:pl-0 pricing-text">
        <h2 class="mb-4 text-3xl font-semibold">Pricing</h2>
        <p class="mb-4 text-gray-600">
          At DashHub, we understand that every enterprise has unique needs and requirements when it comes to leveraging artificial intelligence. That's why we offer a flexible and customizable pricing model that is tailored to fit the specific demands of your business. Our goal is to provide you with the best value while ensuring that you have access to the full range of features and capabilities of our platform.
        </p>
        <p class="mb-4 text-gray-600">
          Our pricing is determined based on the technologies and services you choose to integrate with DashHub. Whether you need advanced machine learning algorithms, data processing capabilities, or enterprise-grade security features, we work with you to create a pricing plan that aligns with your budget and objectives. This personalized approach ensures that you only pay for what you need, without any unnecessary costs.
        </p>
        <p class="mb-4 text-gray-600">
          We believe in transparency and fairness, which is why our pricing structure is designed to be straightforward and easy to understand. Our team of experts is available to guide you through the process and help you select the best options for your organization. By partnering with DashHub, you gain access to a powerful AI platform that can scale with your business and adapt to your evolving needs.
        </p>
        <p class="mb-4 text-gray-600">
          To learn more about our pricing and to get a personalized quote, please reach out to our sales team. We are committed to providing you with the support and resources you need to succeed in your AI journey. Join the DashHub community today and discover how our innovative solutions can drive your business forward.
        </p>
        <p class="mt-8">
            <a href="https://github.com/DashHub-ai/DashHub" class="bg-black text-white px-4 py-3 rounded">
              Contact Sales
            </a>
        </p>
      </div>
      <div class="p-6 pricing-image">
        <img src={pricingImage.src} alt="Pricing" class="max-h-[420px] mx-auto" />
      </div>
    </div>
  </div>
</section>
