@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes balloonIn {
  from {
    opacity: 0;
    transform: translateY(calc(-100% + 4px)) translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(-100%) translateX(-50%);
  }
}
