---
import DefaultLayout from '~/layouts/default-layout.astro';
---

<DefaultLayout
  title="Thank You for Subscribing!"
  description="You have successfully subscribed to our newsletter."
>
  <section class="container mx-auto px-4 py-8">
    <div class="text-center">
      <h1 class="text-3xl font-bold mb-4">Thank You for Subscribing!</h1>
      <p class="mb-4">You have successfully subscribed to our newsletter. Stay tuned for the latest updates and exclusive content.</p>
      <a href="/blog" class="text-blue-500 hover:underline">Go back to Blog</a>
    </div>
  </section>
</DefaultLayout>
