---
interface Props {
  name: string;
  href: string;
}

const { name, href } = Astro.props;
---

<a href={href} class="flex items-center min-h-0 text-gray-400 hover:text-gray-500">
  <span class="sr-only">{name}</span>
  <slot />
</a>
