---
import { Bot, Brain, PiggyBank, Rabbit, Rocket, Users } from 'lucide-astro';

import FeatureCard from '~/components/feature-card.astro';
---

<section class="max-sm:py-6 py-16 features">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-3">
      <FeatureCard title="Cost Effective">
        <PiggyBank class="w-12 h-12" slot="icon" />
        <span slot="description">
          Save on infrastructure costs and reduce the need for extensive in-house AI expertise.
          DashHub offers a cost-effective solution that allows you to leverage advanced AI capabilities without breaking the bank.
        </span>
      </FeatureCard>

      <FeatureCard title="Custom AI Experts">
        <Bot class="w-12 h-12" slot="icon" />
        <span slot="description">
          Our platform provides access to custom AI experts who can help tailor solutions to your specific needs.
          Get personalized support and guidance from industry-leading AI professionals.
        </span>
      </FeatureCard>

      <FeatureCard title="Fast and Easy Implementation">
        <Rabbit class="w-12 h-12" slot="icon" />
        <span slot="description">
          Implementing DashHub is quick and straightforward, allowing you to start leveraging AI capabilities in no time.
          Minimize downtime and accelerate your AI adoption process with our user-friendly platform.
        </span>
      </FeatureCard>

      <FeatureCard title="Project Collaboration">
        <Users class="w-12 h-12" slot="icon" />
        <span slot="description">
          DashHub facilitates seamless project collaboration, enabling teams to work together efficiently.
          Enhance team productivity with tools designed for effective communication and coordination.
        </span>
      </FeatureCard>

      <FeatureCard title="Context Preservation">
        <Brain class="w-12 h-12" slot="icon" />
        <span slot="description">
          Our platform ensures that context is preserved across different stages of your AI projects.
          Maintain continuity and coherence in your AI workflows, from development to deployment.
        </span>
      </FeatureCard>

      <FeatureCard title="Easy Deployment">
        <Rocket class="w-12 h-12" slot="icon" />
        <span slot="description">
          Deploying AI models with DashHub is incredibly easy, allowing you to bring your solutions to production swiftly.
          Streamline the deployment process and ensure your AI models are up and running with minimal effort.
        </span>
      </FeatureCard>
    </div>
  </div>
</section>
