---
import { Bug, CirclePlus, Github, NotebookText, Send } from 'lucide-astro';
---

<section class="max-sm:py-6 py-16 pb-8 bg-gray-100 flex-1 contact">
  <div class="container mx-auto px-4 max-w-3xl">
    <h2 class="text-2xl font-bold mb-4">Report issue</h2>
    <p class="mb-4">
      If you encounter any issues or have any questions, we encourage you to create an issue on our GitHub repository. GitHub is a platform for version control and collaboration, allowing developers to work together on projects from anywhere in the world.
    </p>
    <p class="mb-4">
      To create an issue, follow these steps:
    </p>
    <ol class="list-decimal list-inside mb-4 lg:space-y-3 space-y-5">
      <li class="flex items-center">
        <Github class="mr-2 text-primary shrink-0" />

        <div>
          <span>
            Visit our GitHub repository:
          </span>
          <a
            href="https://github.com/DashHub-ai/DashHub"
            target="_blank"
            class="max-sm:block text-primary hover:underline lg:ml-1 underline"
          >
            DashHub GitHub Repository
          </a>
        </div>
      </li>

      <li class="flex items-center">
        <Bug class="mr-2 text-primary shrink-0" />
        Click on the "Issues" tab.
      </li>

      <li class="flex items-center">
        <CirclePlus class="mr-2 text-primary shrink-0" />
        Click the "New issue" button.
      </li>

      <li class="flex items-center">
        <NotebookText class="mr-2 text-primary shrink-0" />
        Fill out the issue template with relevant details about your problem or question.
      </li>

      <li class="flex items-center">
        <Send class="mr-2 text-primary shrink-0" />
        Click "Submit new issue".
      </li>
    </ol>
    <p>
      Thank you for helping us improve DashHub!
    </p>

    <p class="mt-12 text-center">
      <a href="https://github.com/DashHub-ai/DashHub" class="bg-black text-white px-6 py-3 rounded">
        Go to GitHub Repository
      </a>
    </p>
  </div>
</section>
